.containerBox {
    width: 100%;
    height: 100%;
  }
  
  .skillsBox {
    background-color: var(--wht);
    color: var(--drk);
    width: 20vw;
    height: 100%;
  }
  
  #skills {
    color: var(--mag);
    font-size: xx-large;
    margin: 2rem;
    font-weight: bold;
  }
  
  li {
    margin: 1rem;
  }
  
  .resumeBox {
    justify-content: space-evenly;
    background-color: var(--lt);
    width: 35vw;
    height: 100%;
  }
  
  #resumeImg {
    width: 20vw;
    cursor: pointer;
  }
  
  .downloadBox {
    font-size: x-large;
    color: var(--org);
    cursor: pointer;
  }
  
  .signBox {
    background-color: var(--mid);
    width: 20vw;
    height: 100%;
  }
  
  #msg {
    font-size: 40px;
    font-weight: bolder;
    padding: 2rem;
  }
  
  #kr {
    padding: 1rem;
  }
  