#mobile-resume {
  display: none;
}

.containerBox {
    width: 100%;
    height: 100%;
  }
  
  .skillsBox {
    background-color: var(--wht);
    color: var(--drk);
    width: 20vw;
    height: 100%;
  }
  
  #skills {
    color: var(--mag);
    font-size: 2rem;
    margin-left: 2rem;
    font-weight: bold;
  }
  
  li {
    margin: 1rem;
  }
  
  .resumeBox {
    justify-content: space-evenly;
    background-color: var(--lt);
    width: 35vw;
    height: 100%;
  }
  
  #resumeImg {
    width: 20vw;
    cursor: pointer;
  }
  
  .downloadBox {
    font-size: x-large;
    color: var(--org);
    cursor: pointer;
  }
  
  .signBox {
    background-color: var(--mid);
    width: 20vw;
    height: 100%;
  }
  
  #msg {
    font-size: 2rem;
    font-weight: bolder;
    padding: 2rem;
  }
  
  #kr {
    padding: 1rem;
    font-size: 1.5rem;
  }
  
  @media screen and (max-width: 912px) {
    .containerBox {
      display: none;
    }

    #mobile-resume {
      display: block;
    }

    .m-skillsBox {
      background-color: var(--wht);
      display: flex;
      justify-content: center;
    }

    .skills {
      margin: 0rem;
    }

    .m-resumeBox {
      justify-content: space-evenly;
      background-color: var(--lt);
      padding: 1rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    #resumeImg {
      width: 30vw;
    }

    .downloadBox {
      padding: 1rem;
    }

    .m-signBox {
      background-color: var(--mid);
    }

    @media screen and (max-width: 540px) {
      .m-skillsBox {
        display: none;
      }

      #msg {
        font-size: 1.5rem;
      }

      #kr {
        font-size: 1rem;
      }
    }
  }