#main {
    height: 100%;
  }

  #mobile {
    display: none;
  }
  
  #profile-box {
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: var(--org);
    width: 25vw;
    height: 100%;
    border-radius: 1.875rem;
    margin-right: 1.5rem;
    padding-left: 1.5rem;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .circle-overlay {
    top: 27%;
    left: 82%;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    background-color: var(--mid);
  }
  
  #aboutImg {
    width: 15rem;
    height: auto;
    border-top-left-radius: 7.8125rem;
    transform: scaleX(-1);
    margin-left: 2rem;
  }
  
  .jobTitle {
    margin-left: auto;
    padding-right: 2rem;
  }
  
  #title-box,
  #about-box {
    width: 50vw;
  }
  
  #title-box {
    background-color: var(--wht);
    color: var(--lt);
    height: 15vh;
    font-size: 3.125rem;
  }
  
  #about-box {
    margin-top: 1rem;
    background-color: var(--mag);
    height: 65vh;
  }
  
  .body {
    margin: 2.5rem;
    font-size: 1.5625rem;
    font-family: var(--font3);
  }
  

  /*** Mobile CSS ***/

  /** Phones & Small Tablets **/
  @media screen and (max-width: 540px) {
    #main {
      display: none;
    }

    #m-title-box {
      display: none;
    }

    #mobile {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      justify-content: center;
    }

    #m-profile-box {
      display: flex;
      background-color: var(--org);
      border-top-left-radius: 1.875rem;
      border-bottom-right-radius: 1.875rem;
      align-items: center;
    }

    #aboutImg {
      display: block;
      width: 9rem;
      height: 9rem;
      margin-left: 1rem;
      border-top-right-radius: 5rem;
      border-top-left-radius: 5rem;
      padding: 1rem;
    }

    .text-container {
      flex-direction: column;
    }

    .signature {
      font-size: 2rem;
    }

    .basic {
      font-size: 1rem;
    }

    #m-about-box {
      margin-top: .5rem;
      background-color: var(--mag);
    }
    .body {
      font-size: 1rem;
      margin: 1rem;

    }

    /* Targeting taller phones */
    @media (min-width: 390px) {
      #m-profile-box {
        border-radius: 1.875rem;
      }

      #m-title-box {
        display: flex;
        background-color: var(--wht);
        color: var(--lt);
        height: 10vh;
        margin-top: .5rem;
        font-size: 3.125rem;
        border-top-left-radius: 1.875rem;
        border-bottom-right-radius: 1.875rem;
        justify-content: center;
        align-items: center;
      }
      
      h4 {
        margin: 0;
      }
    }

    /* Targeting Galaxy Fold */
    @media screen and (max-width: 280px) {
      .body {
        font-size: .875rem;
      }
      #aboutImg {
        display: none;
      }
  
      #m-profile-box {
        justify-content: center;
      }
    }
  }

