#main {
    height: 100%;
  }
  
  #profile-box {
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: var(--org);
    width: 25vw;
    height: 100%;
    border-radius: 30px;
    margin-right: 1.5rem;
    padding-left: 1.5rem;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .circle-overlay {
    top: 27%;
    left: 82%;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    background-color: var(--mid);
  }
  
  #aboutImg {
    width: 70%;
    height: auto;
    border-top-left-radius: 125px;
    transform: scaleX(-1);
    margin-left: 2rem;
  }
  
  .jobTitle {
    margin-left: auto;
    padding-right: 2rem;
  }
  
  #title-box,
  #about-box {
    width: 50vw;
  }
  
  #title-box {
    background-color: var(--wht);
    color: var(--lt);
    height: 15vh;
    font-size: 50px;
  }
  
  #about-box {
    margin-top: 1rem;
    background-color: var(--mag);
    height: 65vh;
  }
  
  .body {
    margin: 40px;
    font-size: 25px;
    font-family: var(--font3);
  }
  

  /*** Mobile CSS ***/

  /** Tablets **/
  @media only screen and (min-width: 481px) and (max-width: 1024px)  {

  #profile-box {
    justify-content: center;
  }
}

/** Smartphones **/
@media only screen and (max-width: 480px) {

  #profile-box {
    justify-content: center;
  }

  .circle-overlay {
    display: none;
  }

  #aboutImg {
    width: 70%;
    height: auto;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    transform: scaleX(-1);
    margin-left: 0rem;
  }

}