#navContainer {
    background-color: var(--drk);
    width: 100vw;
}

#navbar {
    justify-content: flex-start;
    padding: 20px;
    font-family: var(--font3);
}

.navbar-item {
    color: var(--wht);
    cursor: pointer;
    margin-right: 20px;
}

.navbar-item:hover {
    color: var(--lt)
}

.selected {
    font-weight: bold;
}