#navContainer {
    background-color: #070605;
    width: 100vw;
}

#navbar {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    font-family: Arial Narrow, sans-serif;
}

.navbar-item {
    color: #F5F5EF;
    cursor: pointer;
    margin-right: 20px;
}

.navbar-item:hover {
    color: #E1CEBF
}

.navbar-item:active {
    font-weight: bold;
}

.selected {
    font-weight: bold;
}