#contentBox {
    height: 80vh;
  }
  
  #leftSide,
  #rightSide {
    width: 38vw;
    height: auto;
  }
  
  #leftSide {
    margin-right: 1rem;
    align-items: start;
  }
  
  #rightSide {
    margin-left: 1rem;
    justify-content: right;
  }
  
  .contact {
    font-weight: normal;
    font-size: 5rem;
    color: var(--mag);
    margin-block-start: 0;
  }
  
  #formBox {
    padding-bottom: 2rem;
  }
  
  textarea {
    height: 8vh;
  }

  .input {
    padding: .75rem;
    width: 36vw;
    border-radius: 0.9375rem;
    background-color: var(--wht);
  }
  
  .submit {
    margin-top: 1rem;
    padding: .5rem 1rem;
    width: max-content;
    border-radius: 15px;
    color: var(--wht);
    background-color: var(--mid);
    border: none;
    cursor: pointer;
  }
  
  .bgImg {
    width: 24vw;
  }
  
  .selfie {
    top: 53%;
    left: 62%;
    width: 20vw;
    height: 20vw;
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
    border: 2px solid var(--org);
  }
  
.sending {
  font-size: xx-large;
}

@media screen and (max-width: 820px) {
  .selfie {
    display: none;
  }

  .bgImg {
    display: none;
  }

  #leftSide {
    width: 100%;
  }

  .input {
    width: 100%;
  }

  /* Targeting Galaxy Fold */
    @media screen and (max-width: 280px) {
      .contact {
        font-size: 4rem;
      }
    }
}