#contentBox {
    height: 80vh;
  }
  
  #leftSide,
  #rightSide {
    width: 38vw;
    height: auto;
  }
  
  #leftSide {
    margin-right: 1rem;
    align-items: start;
  }
  
  #rightSide {
    margin-left: 1rem;
    justify-content: right;
  }
  
  .contact {
    font-weight: normal;
    font-size: 80px;
    color: var(--mag);
    margin-block-start: 0;
  }
  
  #formBox {
    padding-bottom: 2rem;
  }
  
  textarea {
    height: 8vh;
  }
  
  .submit {
    margin-top: 1rem;
    padding: .5rem 1rem;
    width: max-content;
    border-radius: 15px;
    color: var(--wht);
    background-color: var(--mid);
    border: none;
    cursor: pointer;
  }
  
  .bgImg {
    width: 24vw;
  }
  
  .selfie {
    top: 53%;
    left: 62%;
    width: 20vw;
    height: 20vw;
    border-top-right-radius: 150px;
    border-top-left-radius: 150px;
    border: 2px solid var(--org);
  }
  