@import url('https://fonts.cdnfonts.com/css/tt-drugs-trial');
@import url('https://fonts.cdnfonts.com/css/lemon-tuesday');

:root {
  --wht: #F5F5EF;
  --lt: #E1CEBF;
  --mid: #B97141;
  --org: #FF6D5F;
  --mag: #A4377A;
  --drk: #070605;
  --font1: 'TT Drugs Trl Cnd', sans-serif;
  --font2: 'Lemon Tuesday', sans-serif;
  --font3: 'Arial Narrow', sans-serif;
}

body {
  background-color: var(--drk);
}

a {
  color: var(--wht);
  font-family: var(--font1);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: var(--lt);
}

.flex {
  display: flex;
}

.container {
    justify-content: center;
    align-items: center;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
}

.space {
  justify-content: space-between;
}

.basic {
  font-family: var(--font1)
}

.signature {
    font-family: var(--font2);
    font-size: 40px;
}

.roundLR {
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.roundRL {
  border-top-right-radius: 35px;
  border-bottom-left-radius: 35px;
}

.input {
  padding: .75rem;
  width: 36vw;
  border-radius: 15px;
  background-color: var(--wht);
}

.float {
  position: absolute;
  transform: translate(-50%, -50%);
}

/*** Mobile CSS ***/

  /** Tablets **/
  @media only screen and (min-width: 481px) and (max-width: 1024px)  {
    .body {
      font-size: 22px;
    }
  }

 /** Smartphones **/
@media only screen and (max-width: 480px) {
  .body {
    font-size: 12px;
    margin: 1rem;
  }
} 