@import url('https://fonts.cdnfonts.com/css/tt-drugs-trial');

a {
  color: #F5F5EF;
  font-family: 'TT Drugs Trl Cnd', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #E1CEBF;
}